@media screen and (max-width: 322px) {
  .content-box-main .box-top, .content-box-main .box-bottom {
    margin: 40px 20px !important;
  }
  .content-box hr.half {
    width: 20%;
  }
  h4.countdown:nth-of-type(2) {
    width: 30px !important;
  }
  .rt-img , .lf-img-alt { width: 230px !important; }
}

@media screen and (max-width:376px) {.rt-img , .lf-img-alt {width: 260px;}}

@media screen and (max-width: 426px) {

  .header h1 {
    margin-top: 26.5vh !important;
  }

  h2,h3 {
    font-size: 45px;
    line-height: 1;
  }

  h4.countdown {
    width: 90px;
  }
  h4.countdown:nth-of-type(2) {
    width: 40px;
  }
  h4.countdown:nth-of-type(4) {
    display: none;
  }
  h4.countdown:nth-of-type(5) {
    margin-top: 15px;
  }

  .header {
  background-image: url(../assets/bg-mobile.png) !important;
  }

  .box-top h4, .box-top h3 {
    margin: 0 2px;
  }

  .content-container h2 {
      margin: 0 0 48px 0;
  }

  .content-box-main {
    height: auto;
  }

  .content-box {
    margin: -60px auto 0 auto;
  }

  .content-box-main .box-top, .content-box-main .box-bottom {
    margin: 40px;
  }

  .content-box .box-top {
    margin: 90px 30px 30px 30px;
  }

  .content-box .box-bottom {
    margin: 25px 30px 30px 30px;
  }
  .content-box hr.half {
    margin: 0 15px;
  }

  .foot-col {
    font-size: 16px;
    width: 91%;
    margin: 30px 4% 0 4%;
  }

  .foot-col:last-of-type {
    margin: 30px 4%;
  }
}
