/* Typography */

@font-face {
    font-family: big caslon;
    src: url(../fonts/BigCaslonRom.ttf);
    src: url(../fonts/BigCaslonRom.eot);
    src: url(../fonts/BigCaslonRom.svg);
    src: url(../fonts/BigCaslonRom.woff);
    font-weight:100;
}

@font-face {
    font-family: Jenson;
    src: url(../fonts/AJensonPro-LtDisp.ttf);
    src: url(../fonts/AJensonPro-LtDisp.eot);
    src: url(../fonts/AJensonPro-LtDisp.svg);
    src: url(../fonts/AJensonPro-LtDisp.woff);
    font-weight:100;
}

h1,h2,h3,h4, body {
  font-family: "Jenson" , "Times" , serif;
  font-weight: 100;
}

h1 , h2, h3 {
  color: #b28e48;
}

h4 {
  color: #6e6e64;
}

h1 {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.3;
  letter-spacing: 8px;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 80px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 3px;
}

h3 {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 80px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 4.6px;
}

h3.countdown {
  line-height: 28px;
  vertical-align: middle;
  margin-top: 30px;
  font-weight: 100 !important;
}

h4 {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.6;
  letter-spacing: 4.6px;
}

h4 span ,h3 span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4.6px;
  color: #6e6e64;
  line-height: 24px;
}

h4.countdown {
  font-size: 20px !important;
  line-height: 28px;
  color: #b28e48;
  width: 19%;
  text-align: center;
  vertical-align: middle;
  font-weight: 100 !important;
}

h4.countdown span {
  font-size: 14px;
}

h4.copy {
  font-size: 20px ;
  line-height: 28px;
  letter-spacing: 1px;
}

/* Global Settings */

body {
  padding: 0px;
  margin: 0px;
}


/* Header */

.header {
  display: inline-block;
  width: 100vw;
  height: 70vh;
  background-color: #f7f7f7;
  background-image: url(../assets/bg-left.png) , url(../assets/bg-right.png);
  background-position: 45% 110% , 80% 48%;
  background-size: 1366px 690px , 1366px 768px;
  background-repeat: no-repeat;
}

.header h1 {
  margin-top: 28.25vh;
}


/* Content */

.content-container {
  width: 100%;
  margin: 120px auto ;
}

.content-container h2 {
  margin: 0 0 -45px 0;
}

.content-box-main {
  width: 660px;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.content-box {
  width: 660px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.content-box-main hr {
  border: solid 1px #e3e3e3;
  margin: 0 50px;
}

.content-box hr.half {
  width: 25%;
  margin: 0 50px;
  display: inline-block;
  vertical-align: middle;
}

.date {
  margin:0 auto;
  display: block;
  width: 100%;
}

.date-container {
  margin: -20px 0 -10px 0;
}

.content-box .box-top{
  margin: 50px;
}

 .box-top {
  display: inline-block;
  margin: 60px 50px 50px 50px;
  vertical-align: middle;
}

.content-box .box-bottom {
  margin: 40px 50px;
}

 .box-bottom {
  display: inline-block;
  margin: 60px 50px;
  vertical-align: middle;
  width: 80%;
}

.box-top h4, .box-top h3 {
  margin: 0 22px;
  vertical-align: middle;
}

.box-bottom h4 {
  margin: auto;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.6px;
}

.center {
  width: 910px;
  margin: 0 auto;
}

.rt-img {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: -30px;
  width: 277px;
	height: 414px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.countdown h3 strong , .countdown h4 strong {
  font-weight: 100 !important;
}

strong {
  font-weight: 100 !important;
}

.footer {
  width: 100%;
  height: 80px;
	background-color: #f7f7f7;
}

.foot-col {
  font-size: 12px;
  letter-spacing: 1px;
  color: #6e6e64;
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  text-align: center;
  margin: 33px 4%;
}

 a:link , a:visited  {
  text-decoration: underline;
  color: #6e6e64;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
}

 a:hover ,  a:active {
 color: #b28e48;
}

.foot-col:first-of-type {
  text-align: left;
}
.foot-col:last-of-type {
  text-align: right;
}
