.lf-img-alt { display: none !important;}

@media screen and (max-width:903px) {
  .center, .content-box-main {
    width: 810px;
  }
  .rt-img, .lf-img {
    width: 207px;
    height: auto;
  }

  .rt-img {margin-right: -60px;}
  .lf-img {margin-left: -60px;}
}

@media screen and (max-width:910px) {
  .lf-img {display:none !important;}
  .lf-img-alt {display: inherit !important;}

  .content-container {
    margin: 70px auto;
  }

  .content-box .box-top {
    margin: 100px 50px 50px 50px;
  }

  .content-box, .content-box-main {
    width: 85%;
    margin: -70px auto 0 auto;
    display: inherit;
  }

  .center {
    width: 100%;
  }

  .rt-img , .lf-img-alt {
    margin: 0 auto;
    width: 300px;
    height: auto;
    display: inherit;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
    line-height: 2;
  }

  h2,h3 {
    font-size: 60px;
  }

  .content-container h2 {
    margin: 0 0 35px 0;
  }

  .header h1 {
    margin-top: 31vh;
  }

  .header {
    background-position: 42% -294% , 86% 23%;
  }

  .content-box-main, .content-box {
    width: 85%;
  }
  .box-top h4, .box-top h3 {
    margin: 0 10px;
  }

  .date {
    width: 100%;
  }

  .footer {
    height: auto;
  }

  .foot-col {
    width: 31.09%;
    text-align: center !important;
    margin: 33px 1%;
  }
}
